.center {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.centerForce {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80vh;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
}

.inputs {
	background-color: #333333;
	padding: 15px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.noaccount {
	font-size: 20px;
	text-align: center;
}

.input {
	background-color: #1c1c1c;
	font-size: 22px;
	padding: 10px 15px;
	border-radius: 9px;
}

.input::placeholder {
	color: #818181;
}

.emailbox {
	width: 350px;
	height: 50px;
	font-size: 25px;
	border: 0px;
	border-radius: 10px;
	outline: none;
	transition: 0.2s;
	background-color: #0c0c0c;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.emailbox:hover {
	background-color: #080808;
	transition: 0.2s;
}

.emailbox::placeholder {
	color: white;
}

.passwordbox {
	width: 350px;
	height: 50px;
	font-size: 25px;
	border: 0px;
	border-radius: 10px;
	outline: none;
	transition: 0.2s;
	background-color: #0c0c0c;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.passwordbox:hover {
	border-color: #7240a8;
	transition: 0.2s;
}

.passwordbox::placeholder {
	color: white;
}

.submit {
	width: 200px;
	height: 50px;
	font-size: 20px;
	border: none;
	border-radius: 10px;
	background-color: #7240a8;
	color: white;
	font-weight: bold;
	transition: 0.1s filter;
}

.orange {
	background-color: #b26d46;
}

.green {
	background-color: #459d59;
}
