.transactionsSection {
	border-radius: 9px;
	padding: 20px;
	width: 100%;
	/* min-height: ; */
	height: min-content;
	max-height: 100%;
	overflow: hidden;
	background-color: #333333;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.transactionsList {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
	gap: 10px;
	height: min-content;
	max-height: 550px;
	overflow-y: auto;
}

@media screen and (min-width: 800px) {
	.transactionsSection {
		height: 100%;
	}
}

@media screen and (max-width: 800px) {
	.transactionsSection {
		border-radius: 0;
	}
}
