.section {
	background-color: #333333;
	border-radius: 10px;
	padding: 10px;
}

.section h3 {
	text-align: center;
	/* font-weight: 500; */
	padding-left: 7px;
}

.contactsWrapper {
	width: 100%;
	display: flex;
	gap: 7px;
	overflow: hidden;
	overflow-x: auto;
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	min-width: 50px;
}

.contactsWrapper img {
	width: 40px;
	margin: 7px;
}

.name {
	font-size: 0.6rem;
}

@media screen and (max-width: 800px) {
	.section {
		border-radius: 0;
	}
}
