.dashboard {
    background-color: #181818;
    width: 100vw;    
}

.balanceContainer{
    background-color: #333333;
    width: 100%;
    display: flex;
}

.balanceContainer__left {
    width: 25%;
    padding-left: 1rem;
}

.logo {
    width: 70px;
    height: 70px;
}

.balanceContainer__right {
    width: 90%;
}

.sendContainer {
    background-color: #333333;
    width: 100%;

}

.historyContainer {
    background-color: #333333;
    width: 100%;

}


.articlesContainer {
    background-color: #333333;
    width: 100%;

}

.balance{
font-weight: 700;
}


/* 
Balance--c
Send--container
History--container
Articles--container

*/