.container{
	background-color:#050505;
	
}

.page {
	height: 100vh;
}

.contentSection {
	width: 100%;
	height: calc(100% - 7vh);
	background-color: #181818;
	position: relative;
	top: 54px;
	padding-bottom: 7vh;
}

@media screen and (min-width: 800px) {
	.contentSection {
		position: relative;
		top: 74px;
		padding-left: 7vw;
		padding-bottom: 0;
	}
}

/* The navigation bar itself */

.navbar {
	text-align: center;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
/* The links within the navigation bar */

.nav {
	padding: 15px 50px;
	font-size: 50px;
	font-weight: bolder;
	text-align: center;
	transition: color 0.15s ease;
}
.navimg {
	width: 400px;
	height: 97px;
	transition: 0.2s;
}
.navimg:hover {
	opacity: 60%;
	transition: 0.2s;
}
.profileIcon {
	font-size: 45px;
	cursor: pointer;
}

.profileMenu{
	width: 100vw;
	background-color: #404040;
}

.itemContainer {
	background-color: #303030;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	
}

.profileMenu__Item {
	background-color: #282828;
	width: 50%;

	
}
/* General page layout */

.main {
	min-height: 100vh;
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 10%;
}

.mainHome {
	width: 100vw;
	background-color: pink;
	height: 100vh;
}

.mainSection {
	
	display: grid; 
	grid-template-columns: 50% 50% ;
	grid-template-rows: auto;
	gap: 10% 10%;
	

	background-color: #7240a8;
	height: 100%;

}

.balanceSection {
	background-color: red;
	width: 100%;
	height: 100%;
}

.transactionSection {
	background-color: green;
	width: 100%;
	height: 100%;
}

.sendAgainSection {
	background-color: blue;
	width: 100%;
	height: 100%;
	
}

.guideSection {
	background-color: purple;
	width: 100%;
	height: 100%;
}

.code {
	background-color: white;
	border-radius: 5px;
	padding: 0.75rem;
	font-size: 1.1rem;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}
/* The user's balance */

.balance {
	font-weight: bolder;
	font-size: 100px;
	text-align: center;
	color: #7240a8;
	text-shadow: 5px 5px #0a0a0a;
}
/* The £ on balance */

.this {
	text-shadow: 5px 5px #0a0a0a;
	color: white;
}
.hbutton {
	width: 200px;
	height: 50px;
}
/* The footer at the bottom of the page */

.footer {
	display: flex;
	flex: 1;
	padding: 10px;
	border-top: 1px solid white;
	justify-content: center;
	align-items: center;
}
/* The grid */

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1300px;
	color: white;
	padding-top: 100px;
}
/* The cards on home page */

.card {
	margin: 1rem;
	padding-top: 1.5rem;
	text-align: center;
	text-decoration: none;
	border: 5px solid white;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
	width: 350px;
	height: 200px;
	display: table;
}
.card:hover, .card:focus, .card:active {
	border-color: #7240a8;
}
.card h2 {
	vertical-align: middle;
	font-size: 2.5rem;
}
/* The contact page boxes */

.ccard {
	background-color: #111111;
	margin: 1rem;
	padding-top: 1.5rem;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
	width: 800px;
	height: 200px;
	display: table;
}
.ccard h2 {
	vertical-align: middle;
}
.ccard p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
}
/* Add Contact Card */

.addccard {
	background-color: #111111;
	margin: 1rem;
	padding-top: 1.5rem;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
	width: 500px;
	height: 200px;
	display: table;
}
.addccard h2 {
	vertical-align: middle;
}
.addccard p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
}
/* The smaller card inside contact card */

.cccard {
	background-color: #0c0c0c;
	margin: 1rem;
	padding-top: 10px;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
	width: 800px;
	height: 110px;
	display: table;
}
.cccard h2 {
	vertical-align: middle;
}

.csendbutton {
	width: 140px;
	height: 50px;
	font-size: 25px;
	border: none;
	border-radius: 10px;
	background-color: #00a336;
	color: white;
	font-weight: bold;
	transition: 0.2s;
}
.csendbutton:hover {
	background-color: #00b652;
	transition: 0.2s;
}

.cdelbutton {
	width: 140px;
	height: 50px;
	font-size: 25px;
	border: none;
	border-radius: 10px;
	background-color: #a50031;
	color: white;
	font-weight: bold;
	transition: 0.2s;
}
.cdelbutton:hover {
	background-color: #64001e;
	transition: 0.2s;
}
/* The Grid used for the contact cards */

.cgrid {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	max-width: 2000px;
}
/* The login page forms, etc */

.loginform {
	padding: 15px;
}
.emailbox {
	width: 350px;
	height: 50px;
	font-size: 25px;
	border: 0px;
	border-radius: 10px;
	outline: none;
	transition: 0.2s;
	background-color: #0c0c0c;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.emailbox:hover {
	background-color: #080808;
	transition: 0.2s;
}
.emailbox::placeholder{
	color: white;
}
.passwordbox {
	width: 350px;
	height: 50px;
	font-size: 25px;
	border: 0px;
	border-radius: 10px;
	outline: none;
	transition: 0.2s;
	background-color: #0c0c0c;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.passwordbox:hover {
	border-color: #7240a8;
	transition: 0.2s;
}
.passwordbox::placeholder{
	color: white;
}
.signinbutton {
	width: 350px;
	height: 50px;
	font-size: 25px;
	border: none;
	border-radius: 10px;
	background-color: #00a336;
	color: white;
	font-weight: bold;
	transition: 0.2s;
}
.signinbutton:hover {
	background-color: #00b652;
	transition: 0.2s;
}
.historyp {
	font-weight: bold;
}
.form {
	padding-top: 50px;
}
.noaccount {
	color: white;
	transition: 0.2s;
}
.noaccount:hover {
	color: #7240a8;
	transition: 0.2s;
}
/* Media queries for responsiveness */

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
	.balance {
		font-size: 60px;
	}
	.nav {
		padding: 10px 10px;
		font-size: 40px;
	}
	.navimg {
		width: 200px;
		height: 49px;
	}
	.card {
		width: 280px;
		height: 190px;
	}
	.ccard {
		width: 280px;
		height: 190px;
	}
	.addccard {
		width: 400px;
		height: 190px;
	}

}