.menu {
    background-color: #404040;
    width: 100vw;
    height: 7vh;
    position: fixed;
    bottom: 0;
}

.iconsContainer {
    padding-top: 10px;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon {
    font-size: 40px;
    color: #FFFFFF;
    transition: 0.3s scale ease-in-out;
    cursor: pointer;
}

.icon:hover {
    scale: 1.2;
}

@media screen and (min-width: 800px) {
    .menu {
        width: 5vw;
        height: 100vh;
        position: fixed;
        left: 0px;
        top: 70px;
        padding: 2.2rem;
    }

    .iconsContainer {
        padding-top: 10px;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .icon {
        margin-bottom: 30px;
    }
} 